* {
	font-family: 'Lato';
	box-sizing: border-box;
	
}


.page {
	overflow: hidden;
}



.menu {
	background: #304585;
	box-shadow: 0px 4px 30px 0px #00000033;
	color: #ffffff;
	width: 100%;
	position: relative;
	z-index: 1;
}

.menu-left {
	padding: 14px 0 17px 16px;
	display: inline-block;
	width: 65%;
}

.menu-int {
	font-size: 18px;
	font-weight: 700;
}

.menu-cities {
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
}

.country {
	font-size: 14px;
	line-height: 16.8px;
	float: left;
	padding: 25px 0 26px 0;
}

.menu-right {
	float: right;
	text-align: center;

	font-size: 14px;
	font-weight: 700;
	line-height: normal;
}

.flag {
	width: 30px;
	height: 19px;
	border-radius: 3px;
	float: left;
}

.flag-country {
	float: right;

	padding: 1px 30px 0 7px;
}

.menu-right-cities {
	display: inline-block;
	padding: 26px 43px 27px 0;
	text-align: center;
}

.menu-right-cities a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 16.8px;
	padding-left: 40px;
}

.upper-half {
	background: linear-gradient(to bottom right, #304585 50%, #ffffff 50%) no-repeat;
	position: relative;
	z-index: -1;
	padding-bottom: 157px;
}

.headline {
	font-size: 60px;
	font-weight: 700;
	padding-left: 72px;
	padding-bottom: 16px;
}

.headline-extra {
	font-size: 30px;
	font-weight: 700;
	padding-left: 76px;
	padding-bottom: 106px;
}

.logo {
	width: 81.311px;
	height: 94.493px;
	flex-shrink: 0;
}

.main-title {
	color: #ffffff;
	padding-top: 60px;
}

.cities {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
	text-align: center;
	display: flex;
	margin: auto;
	width: 75%;
}

.city {
	float: left;
	padding: 32px 0 35px 0;
	width: 25%;
	margin: auto;
}

.logo-name {
	color: #1e1e1e;
	font-size: 20px;
	font-weight: 700;
	padding-top: 37.5px;
	display: grid;
}

.about {
	padding: 17px 0 183px 240px;
	display: flex;
	flex-direction: column;
}

.about-title {
	color: #2a468a;
	font-size: 50px;
	font-weight: 700;
	padding-bottom: 8px;
}

.about-extra {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	width: 33%;
}

.picture {
	width: 51%;
	margin: auto;
	position: relative;
}

.content {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
	width: 90%;
	margin: auto;
	clear: both;
	margin-bottom: 10%;
}

.row {
	display: inline-table;
	width: 25%;
	padding-top: 58px;
	padding-left: 41px;
}

.row img {
	float: left;
	padding-right: 17px;
}

.content-title {
	color: #1e1e1e;
	font-size: 18px;
	font-family: Lato;
	font-weight: 700;
	padding-bottom: 13px;
}

.row-links {
	color: #1e1e1e;
	font-size: 14px;
	font-weight: 700;
	display: flow-root;
	padding-bottom: 55px;
}

.row-link {
	display: block;
	padding-bottom: 19px;
}

.row-links a {
	color: #1e1e1e;
	font-size: 14px;
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
}

.logos {
	width: 31%;
	margin: auto;
	display: block;
	padding: 35px 0 0 0;
}

.copywrite {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;

	padding: 0 0 19px 76px;
}

@media screen and (max-width: 900px) {

	.upper-half {
		padding-bottom: 20%;
	}
	.menu-right {
	  display: none;
	}

	.cities {
		display: grid;
	}

	.about {
		padding: 10% 10% 20% 10%;
    	text-align: center;
	}

	.about-title {
		font-size: 30px;
	}
	.about-extra {
		width: 100%;
		padding-bottom: 5%;
	}

	.picture {
		width: 75%;
	}

	.row-links {
		padding-left: 20px;
		display: inline-block;

	}

	.row {
		width: 100%;
	}

	.logos {
		width: 75%;
		padding: 0;
	}
	
	.copywrite {
		text-align: center;
		padding: 0;
	}

	.upper-half {
		background: #304585 ;
	}

	.headline {
		font-size: 40px;
		font-weight: 700;
		padding-left: 0;
		padding-bottom: 16px;
		text-align: center;
	}

	.headline-extra {
		font-size: 20px;
		font-weight: 700;
		padding-left: 0;
		text-align: center;
		padding-bottom: 25%;
  }
}
  
  @media screen and (min-width: 901px) {
	.mobile {
	  display: none;
	}

	.nav-bar {
		display: none;
	}
	
	
  }

  .mobile {
	float: right;
  }

  .hamburger {
	color: #ffffff;
	padding: 26px 43px 27px 0;
	float: right;
	cursor: pointer;
  }

  .hamburger span{
	 	position: relative;
		height: 3px;
		width: 30px;
		background: #ffffff;
		display: block;
		margin-bottom: 5px;
		border-radius: 5px;
		transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
	  

  }

  .trigger:checked ~ .hamburger span:first-child {
		transform: rotate(45deg);
		top: 8px;
  }

  .trigger:checked ~ .hamburger span:last-child {
		transform: rotate(-45deg);
		top: -8px;
  }

  .trigger:checked ~ .hamburger span:nth-child(2) {
	opacity: 0;
  }


  
  .nav-bar {
	background: #304585;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.20);
  	width: 100%;
 	padding: 30px 70px;
	 margin-top: 70px;
  	position: absolute;
  	right: -105vw;
  	box-sizing: border-box;
  	transition: right 0.3s ease-in-out;
	text-align: center;
	

  
  }

  .trigger:checked ~ .nav-bar {
    right: 0;

  }

  .nav-bar a{
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 20px;
	display: grid;
	

  }

  .trigger {
	display: none;
  }

  